In [105]:
import pandas as pd
from tabulate import tabulate

In [5]:
df = pd.read_csv("Budget_-_2025_Budget_Ordinance_-_Positions_and_Salaries_20250125.csv")
df.head()

,FUND TYPE,DEPARTMENT CODE,DEPARTMENT DESCRIPTION,FUND CODE,FUND DESCRIPTION,ORGANIZATION CODE,ORGANIZATION DESCRIPTION,DIVISION CODE,DIVISION DESCRIPTION,SECTION CODE,...,SUB-SECTION DESCRIPTION,SCHEDULE/GRADE,BARGAINING UNIT,TITLE CODE,TITLE DESCRIPTION,BUDGETED UNIT,TOTAL BUDGETED UNIT,POSITION CONTROL,BUDGETED PAY RATE,TOTAL BUDGETED AMOUNT
0,LOCAL,1,Office of the Mayor,0100,Corporate Fund,1005,Office of the Mayor,2005,Office of the Mayor,3005,...,NaN,1 00,9,9901,Mayor,Annual,1,1,221052.0,221052
1,LOCAL,1,Office of the Mayor,0100,Corporate Fund,1005,Office of the Mayor,2005,Office of the Mayor,3005,...,NaN,1 00,9,9875,Senior Project Manager - Mayor's Office,Annual,1,1,125664.0,125664
2,LOCAL,1,Office of the Mayor,0100,Corporate Fund,1005,Office of the Mayor,2005,Office of the Mayor,3005,...,NaN,1 00,9,9869,Senior Advisor to the Mayor,Annual,1,1,189324.0,189324
3,LOCAL,1,Office of the Mayor,0100,Corporate Fund,1005,Office of the Mayor,2005,Office of the Mayor,3005,...,NaN,1 00,9,9869,Senior Advisor to the Mayor,Annual,1,1,172008.0,172008
4,LOCAL,1,Office of the Mayor,0100,Corporate Fund,1005,Office of the Mayor,2005,Office of the Mayor,3005,...,NaN,1 00,0,9637,Administrative Assistant,Annual,1,1,97536.0,97536

In [8]:
df.describe()

,DEPARTMENT CODE,ORGANIZATION CODE,SUB-SECTION CODE,BARGAINING UNIT,TOTAL BUDGETED UNIT,POSITION CONTROL,BUDGETED PAY RATE,TOTAL BUDGETED AMOUNT
count,8259.000000,8259.000000,8259.000000,8259.000000,8259.000000,8259.000000,8.259000e+03,8.259000e+03
mean,55.102676,1015.245914,2184.510473,19.879041,408.148323,0.876862,9.833180e+04,4.634554e+05
std,23.614997,32.269128,2119.029259,28.399616,6690.147834,0.328616,2.016161e+05,3.879083e+06
min,1.000000,1005.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
25%,38.000000,1005.000000,0.000000,1.000000,1.000000,1.000000,6.260400e+04,8.062800e+04
50%,57.000000,1005.000000,4004.000000,9.000000,1.000000,1.000000,9.078000e+04,1.181280e+05
75%,81.000000,1005.000000,4145.000000,20.000000,2.000000,1.000000,1.211040e+05,1.933260e+05
max,91.000000,1160.000000,4915.000000,99.000000,248560.000000,1.000000,1.035975e+07,2.572846e+08

In [10]:
df.shape

(8259, 22)

In [12]:
df.dtypes

FUND TYPE                    object
DEPARTMENT CODE               int64
DEPARTMENT DESCRIPTION       object
FUND CODE                    object
FUND DESCRIPTION             object
ORGANIZATION CODE             int64
ORGANIZATION DESCRIPTION     object
DIVISION CODE                object
DIVISION DESCRIPTION         object
SECTION CODE                 object
SECTION DESCRIPTION          object
SUB-SECTION CODE              int64
SUB-SECTION DESCRIPTION      object
SCHEDULE/GRADE               object
BARGAINING UNIT               int64
TITLE CODE                   object
TITLE DESCRIPTION            object
BUDGETED UNIT                object
TOTAL BUDGETED UNIT           int64
POSITION CONTROL              int64
BUDGETED PAY RATE           float64
TOTAL BUDGETED AMOUNT         int64
dtype: object

In [14]:
# Looking for missing values

df.isna().sum()

FUND TYPE                      0
DEPARTMENT CODE                0
DEPARTMENT DESCRIPTION         0
FUND CODE                      0
FUND DESCRIPTION               0
ORGANIZATION CODE              0
ORGANIZATION DESCRIPTION       0
DIVISION CODE                  0
DIVISION DESCRIPTION           0
SECTION CODE                   0
SECTION DESCRIPTION            0
SUB-SECTION CODE               0
SUB-SECTION DESCRIPTION     3991
SCHEDULE/GRADE                 0
BARGAINING UNIT                0
TITLE CODE                     0
TITLE DESCRIPTION              0
BUDGETED UNIT                  0
TOTAL BUDGETED UNIT            0
POSITION CONTROL               0
BUDGETED PAY RATE              0
TOTAL BUDGETED AMOUNT          0
dtype: int64

In [16]:
# Habdling missing values 
df[df.isna().any(axis = 1)]

,FUND TYPE,DEPARTMENT CODE,DEPARTMENT DESCRIPTION,FUND CODE,FUND DESCRIPTION,ORGANIZATION CODE,ORGANIZATION DESCRIPTION,DIVISION CODE,DIVISION DESCRIPTION,SECTION CODE,...,SUB-SECTION DESCRIPTION,SCHEDULE/GRADE,BARGAINING UNIT,TITLE CODE,TITLE DESCRIPTION,BUDGETED UNIT,TOTAL BUDGETED UNIT,POSITION CONTROL,BUDGETED PAY RATE,TOTAL BUDGETED AMOUNT
0,LOCAL,1,Office of the Mayor,0100,Corporate Fund,1005,Office of the Mayor,2005,Office of the Mayor,3005,...,NaN,1 00,9,9901,Mayor,Annual,1,1,221052.0,221052
1,LOCAL,1,Office of the Mayor,0100,Corporate Fund,1005,Office of the Mayor,2005,Office of the Mayor,3005,...,NaN,1 00,9,9875,Senior Project Manager - Mayor's Office,Annual,1,1,125664.0,125664
2,LOCAL,1,Office of the Mayor,0100,Corporate Fund,1005,Office of the Mayor,2005,Office of the Mayor,3005,...,NaN,1 00,9,9869,Senior Advisor to the Mayor,Annual,1,1,189324.0,189324
3,LOCAL,1,Office of the Mayor,0100,Corporate Fund,1005,Office of the Mayor,2005,Office of the Mayor,3005,...,NaN,1 00,9,9869,Senior Advisor to the Mayor,Annual,1,1,172008.0,172008
4,LOCAL,1,Office of the Mayor,0100,Corporate Fund,1005,Office of the Mayor,2005,Office of the Mayor,3005,...,NaN,1 00,0,9637,Administrative Assistant,Annual,1,1,97536.0,97536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8254,CDBG,54,Department of Planning and Development,GJ51,Community Development Block Grant Year LI,1005,Department of Planning and Development,2505,Planning and Administration,3503,...,NaN,1 00,0,0015,Schedule Salary Adjustments,Annual,0,0,1464.0,1464
8255,CDBG,54,Department of Planning and Development,GJ51,Community Development Block Grant Year LI,1005,Department of Planning and Development,2505,Planning and Administration,3506,...,NaN,B 15,1,0729,Information Coordinator,Annual,1,1,90780.0,90780
8256,CDBG,54,Department of Planning and Development,GJ51,Community Development Block Grant Year LI,1005,Department of Planning and Development,2505,Planning and Administration,3506,...,NaN,B 15,1,0729,Information Coordinator,Annual,1,1,86640.0,86640
8257,CDBG,54,Department of Planning and Development,GJ51,Community Development Block Grant Year LI,1005,Department of Planning and Development,2505,Planning and Administration,3506,...,NaN,1 00,0,0044,Fringe Benefits,Annual,0,0,102567.0,102567
8258,CDBG,54,Department of Planning and Development,GJ51,Community Development Block Grant Year LI,1005,Department of Planning and Development,2505,Planning and Administration,3506,...,NaN,1 00,0,0015,Schedule Salary Adjustments,Annual,0,0,1746.0,1746

In [18]:
df.drop('SUB-SECTION DESCRIPTION', axis=1, inplace=True)

In [20]:
df.head()

,FUND TYPE,DEPARTMENT CODE,DEPARTMENT DESCRIPTION,FUND CODE,FUND DESCRIPTION,ORGANIZATION CODE,ORGANIZATION DESCRIPTION,DIVISION CODE,DIVISION DESCRIPTION,SECTION CODE,...,SUB-SECTION CODE,SCHEDULE/GRADE,BARGAINING UNIT,TITLE CODE,TITLE DESCRIPTION,BUDGETED UNIT,TOTAL BUDGETED UNIT,POSITION CONTROL,BUDGETED PAY RATE,TOTAL BUDGETED AMOUNT
0,LOCAL,1,Office of the Mayor,0100,Corporate Fund,1005,Office of the Mayor,2005,Office of the Mayor,3005,...,0,1 00,9,9901,Mayor,Annual,1,1,221052.0,221052
1,LOCAL,1,Office of the Mayor,0100,Corporate Fund,1005,Office of the Mayor,2005,Office of the Mayor,3005,...,0,1 00,9,9875,Senior Project Manager - Mayor's Office,Annual,1,1,125664.0,125664
2,LOCAL,1,Office of the Mayor,0100,Corporate Fund,1005,Office of the Mayor,2005,Office of the Mayor,3005,...,0,1 00,9,9869,Senior Advisor to the Mayor,Annual,1,1,189324.0,189324
3,LOCAL,1,Office of the Mayor,0100,Corporate Fund,1005,Office of the Mayor,2005,Office of the Mayor,3005,...,0,1 00,9,9869,Senior Advisor to the Mayor,Annual,1,1,172008.0,172008
4,LOCAL,1,Office of the Mayor,0100,Corporate Fund,1005,Office of the Mayor,2005,Office of the Mayor,3005,...,0,1 00,0,9637,Administrative Assistant,Annual,1,1,97536.0,97536

In [22]:
df.isna().sum()

FUND TYPE                   0
DEPARTMENT CODE             0
DEPARTMENT DESCRIPTION      0
FUND CODE                   0
FUND DESCRIPTION            0
ORGANIZATION CODE           0
ORGANIZATION DESCRIPTION    0
DIVISION CODE               0
DIVISION DESCRIPTION        0
SECTION CODE                0
SECTION DESCRIPTION         0
SUB-SECTION CODE            0
SCHEDULE/GRADE              0
BARGAINING UNIT             0
TITLE CODE                  0
TITLE DESCRIPTION           0
BUDGETED UNIT               0
TOTAL BUDGETED UNIT         0
POSITION CONTROL            0
BUDGETED PAY RATE           0
TOTAL BUDGETED AMOUNT       0
dtype: int64

In [24]:
df.dtypes

FUND TYPE                    object
DEPARTMENT CODE               int64
DEPARTMENT DESCRIPTION       object
FUND CODE                    object
FUND DESCRIPTION             object
ORGANIZATION CODE             int64
ORGANIZATION DESCRIPTION     object
DIVISION CODE                object
DIVISION DESCRIPTION         object
SECTION CODE                 object
SECTION DESCRIPTION          object
SUB-SECTION CODE              int64
SCHEDULE/GRADE               object
BARGAINING UNIT               int64
TITLE CODE                   object
TITLE DESCRIPTION            object
BUDGETED UNIT                object
TOTAL BUDGETED UNIT           int64
POSITION CONTROL              int64
BUDGETED PAY RATE           float64
TOTAL BUDGETED AMOUNT         int64
dtype: object

In [26]:
# I tried to convert some of the column to Numeric but was having some errors and decided to check it out then realized that some codes are designed in such was and have to leave them in "Object" dtype

#see the below

In [28]:
# Check for non-numeric entries in each column specified for conversion
non_numeric_entries = {}
columns_to_check = ["FUND CODE", "DIVISION CODE", "SECTION CODE", "TITLE CODE"]

for column in columns_to_check:
    non_numeric_entries[column] = df[column].apply(lambda x: isinstance(x, str) and not x.isdigit())

non_numeric_summary = {column: df[column][non_numeric_entries[column]].unique() for column in non_numeric_entries}
non_numeric_summary

{'FUND CODE': array(['0B21', '0B32', '0B53', '0B70', '0B89', '0B90', '0B92', '0D43',
        '925C', '925F', '925L', '925S', 'GA00', 'GJ51'], dtype=object),
 'DIVISION CODE': array(['281G', '282B', '282N', '280E', '280L', '280R', '280Y', '281D',
        '281F', '281T', '282M', '280V', '280H', '281V', '282P', '290H'],
       dtype=object),
 'SECTION CODE': array(['381G', '382B', '382N', '380E', '380L', '380R', '380Y', '381D',
        '381F', '381T', '382M', '380V', '380H', '381V', '382P', '382R',
        '382T', '390H'], dtype=object),
 'TITLE CODE': array(['99A2', '06M3', '06A7', '06A4', '06J6', '06H4', '06C3', '03A8',
        '06K3', '06H5', '06H1', '06C6', '06C5', '06B9', '06B7', '06B4',
        '06B3', '06B1', '06L2', '06K8', '06K7', '06K4', '06J7', '06J4',
        '06J1', '06H9', '06H8', '06H7', '06H6', '06H3', '06G8', '06G2',
        '06F9', '06F8', '06F5', '06F2', '06F1', '06E9', '06E8', '06E7',
        '06D6', '06C9', '06C8', '06C7', '06B6', '06L7', '06L5', '06K9',
        '06K5', '06J5', '06G7', '06G6', '06G5', '06G4', '06G3', '06F4',
        '06F3', '06E1', '06D8', '06D2', '06K2', '06J9', '06J8', '06J3',
        '06G9', '9A50', '9A49', '9A48', '9A47', '9A46', '9A45', '9A44',
        '9A43', '9A42', '9A41', '9A40', '9A39', '9A38', '9A37', '9A36',
        '9A35', '9A34', '9A33', '9A32', '9A31', '9A30', '9A29', '9A28',
        '9A27', '9A26', '9A25', '9A24', '9A23', '9A22', '9A21', '9A20',
        '9A19', '9A18', '9A17', '9A16', '9A15', '9A14', '9A13', '9A12',
        '9A11', '9A10', '9A09', '9A08', '9A07', '9A06', '9A05', '9A04',
        '9A03', '9A02', '9A01', '03A6', '03A3', '03A7', '06H2', '06A6',
        '03A4', '03A2', '99A0', '99A1', '06M1', '03A5', '06D3', '06M2',
        '06A9', '06A2', '06A3', '06E6', '06E4'], dtype=object)}

In [30]:
df["FUND CODE"].value_counts()

FUND CODE
0100    4451
0740     768
0200     546
925F     465
0300     354
0610     223
0346     201
GJ51     176
925C     146
0353     140
925S     136
0314     130
0310     128
0B21     113
0355      87
GA00      54
0075      46
925L      33
0B89      21
0B32      13
0996       9
0B90       6
0D43       5
0B70       4
0B92       2
0B53       2
Name: count, dtype: int64

In [32]:
df.dtypes

FUND TYPE                    object
DEPARTMENT CODE               int64
DEPARTMENT DESCRIPTION       object
FUND CODE                    object
FUND DESCRIPTION             object
ORGANIZATION CODE             int64
ORGANIZATION DESCRIPTION     object
DIVISION CODE                object
DIVISION DESCRIPTION         object
SECTION CODE                 object
SECTION DESCRIPTION          object
SUB-SECTION CODE              int64
SCHEDULE/GRADE               object
BARGAINING UNIT               int64
TITLE CODE                   object
TITLE DESCRIPTION            object
BUDGETED UNIT                object
TOTAL BUDGETED UNIT           int64
POSITION CONTROL              int64
BUDGETED PAY RATE           float64
TOTAL BUDGETED AMOUNT         int64
dtype: object

In [34]:
# checking for duplicates
df.duplicated().sum()

0

In [36]:
# Matching Amountot each Fund descriptions and the count
pd.DataFrame({
    "COUNT": df["FUND DESCRIPTION"].value_counts(),
    "TOTAL BUDGETED AMOUNT": df.groupby("FUND DESCRIPTION")["TOTAL BUDGETED AMOUNT"].sum()
}).rename(columns={"index": "FUND DESCRIPTION"}).sort_values(by=["COUNT", "TOTAL BUDGETED AMOUNT"], ascending=[False, False])

,COUNT,TOTAL BUDGETED AMOUNT
FUND DESCRIPTION,,
Corporate Fund,4451,2565842616
Chicago O'Hare Airport Fund,768,260063069
Water Fund,546,215673261
Federal Grant Fund,465,100637580
Vehicle Tax Fund,354,112862719
Chicago Midway Airport Fund,223,55509200
Library Fund,201,78792868
Community Development Block Grant Year LI,176,28527179
COVID-19 Grant Fund,146,31262852
Emergency Communication Fund,140,72207082
State Grant Fund,136,25334867
Sewer Fund,130,72302309
Motor Fuel Tax Fund,128,74376856
Tax Increment Financing Administration Fund,113,10674311
Special Events and Municipal Hotel Operators' Occupation Tax Fund,87,8751595
Coronavirus Local Fiscal Recovery Fund,54,15597015
Grants Management Fund,46,6875762
Local Public and Private Grant Fund,33,10936456
Opioid Settlement Fund,21,2715000
Garbage Collection Fund,13,76599279
Affordable Housing Opportunity Fund,9,543479
Vaping Settlement Fund,6,556398
Neighborhoods Opportunity Fund,5,430679
Cannabis Regulation Tax,4,432054
Construction and Demolition Debris Management Fund,2,99712
Wheelchair Accessible Vehicle Fund,2,73823

In [38]:
# AMOUNT ALLOTED TO EACH DEPARTMENT

df.groupby("DEPARTMENT DESCRIPTION")["TOTAL BUDGETED AMOUNT"].sum().sort_values(ascending=False)

DEPARTMENT DESCRIPTION
Chicago Police Department                                    1550560539
Chicago Fire Department                                       559954896
Department of Water Management                                261979089
Chicago Department of Aviation                                218517120
Department of Streets and Sanitation                          208134060
Chicago Department of Transportation                          170223331
Chicago Department of Public Health                           139456864
Department of Fleet and Facility Management                   113795575
Chicago Public Library                                         88073922
Office of Emergency Management and Communications              75615711
Department of Family and Support Services                      55722675
Department of Finance                                          55356010
Department of Law                                              44120155
Office of Public Safety Administration                         39079781
Department of Buildings                                        35460438
Department of Business Affairs and Consumer Protection         21932554
Department of Planning and Development                         20906742
Department of Housing                                          16242986
Department of Technology and Innovation                        16108496
Civilian Office of Police Accountability                       15754559
Office of the Mayor                                            14019768
Department of Procurement Services                             13860878
Department of Human Resources                                  12949653
Office of Inspector General                                    12459395
City Council                                                    8513478
Department of Cultural Affairs and Special Events               8280295
Office of City Clerk                                            8278160
Board of Election Commissioners                                 7909308
Office of Budget and Management                                 7425694
Chicago Animal Care and Control                                 5934252
City Treasurer's Office                                         4554990
Mayor's Office for People with Disabilities                     4530798
Department of Administrative Hearings                           3524821
Community Commission for Public Safety and Accountability       3070083
Chicago Commission on Human Relations                           2616926
Department of Environment                                       1464124
Board of Ethics                                                  969445
Chicago Police Board                                             204818
License Appeal Commission                                        115632
Name: TOTAL BUDGETED AMOUNT, dtype: int64

In [122]:
# How many employee a

df["TOTAL BUDGETED UNIT"].value_counts()

TOTAL BUDGETED UNIT
1        4925
0         926
2         911
3         380
4         224
         ...
99          1
2704        1
40          1
17680       1
2000        1
Name: count, Length: 184, dtype: int64

In [40]:
# To determining the count of each department
df["DEPARTMENT DESCRIPTION"].value_counts().sort_values(ascending=False)

DEPARTMENT DESCRIPTION
Chicago Police Department                                    1013
Chicago Department of Public Health                           775
Chicago Department of Aviation                                663
Department of Water Management                                514
Chicago Department of Transportation                          508
Chicago Fire Department                                       445
Department of Finance                                         394
Department of Streets and Sanitation                          360
Department of Law                                             342
Department of Fleet and Facility Management                   323
Department of Family and Support Services                     314
Chicago Public Library                                        233
Office of Public Safety Administration                        223
Department of Planning and Development                        207
Office of Emergency Management and Communications             195
Department of Business Affairs and Consumer Protection        160
Department of Buildings                                       158
Department of Housing                                         128
Department of Procurement Services                            123
Office of Inspector General                                   116
Department of Human Resources                                 108
Board of Election Commissioners                               104
Office of the Mayor                                           103
Department of Technology and Innovation                       101
Civilian Office of Police Accountability                       87
Department of Cultural Affairs and Special Events              83
Office of City Clerk                                           80
City Council                                                   65
Office of Budget and Management                                60
Chicago Animal Care and Control                                58
Mayor's Office for People with Disabilities                    49
City Treasurer's Office                                        49
Department of Administrative Hearings                          43
Community Commission for Public Safety and Accountability      27
Chicago Commission on Human Relations                          23
Department of Environment                                      12
Board of Ethics                                                 9
Chicago Police Board                                            3
License Appeal Commission                                       1
Name: count, dtype: int64

In [42]:
# Evaluating the Average of each department which will help to know which department has the highest and lowest average 

df.groupby("DEPARTMENT DESCRIPTION")["BUDGETED PAY RATE"].mean().sort_values(ascending=False)

DEPARTMENT DESCRIPTION
Chicago Department of Public Health                          137688.990684
Department of Family and Support Services                    132580.781051
Chicago Police Department                                    130764.178006
City Council                                                 128286.369231
Office of the Mayor                                          123845.825243
Chicago Fire Department                                      123663.163461
License Appeal Commission                                    115632.000000
Department of Housing                                        110730.015625
Office of Budget and Management                              110583.966667
Department of Technology and Innovation                      109430.455446
Board of Ethics                                              107716.111111
Chicago Commission on Human Relations                        103746.347826
Department of Law                                            103407.402339
Chicago Public Library                                        99184.696137
Civilian Office of Police Accountability                      97669.367816
Department of Environment                                     97494.333333
Department of Business Affairs and Consumer Protection        96847.668750
Department of Human Resources                                 93946.194444
Department of Cultural Affairs and Special Events             92466.843373
Department of Procurement Services                            91251.377236
Office of Public Safety Administration                        89989.820000
Department of Planning and Development                        89872.260870
Community Commission for Public Safety and Accountability     89706.777778
Department of Finance                                         87875.036371
Office of Inspector General                                   86208.094828
Department of Buildings                                       85601.579494
Office of City Clerk                                          85574.050000
Chicago Department of Aviation                                82783.126184
Office of Emergency Management and Communications             81613.757128
Mayor's Office for People with Disabilities                   81574.897959
City Treasurer's Office                                       80877.024694
Department of Administrative Hearings                         74410.906977
Chicago Animal Care and Control                               72679.426207
Chicago Police Board                                          68272.666667
Chicago Department of Transportation                          67308.261437
Board of Election Commissioners                               66856.961538
Department of Streets and Sanitation                          63917.765000
Department of Water Management                                61496.774144
Department of Fleet and Facility Management                   58656.930248
Name: BUDGETED PAY RATE, dtype: float64

In [44]:
# AMOUNT ALLOTED TO EACH ORGANIZATION

df.groupby("ORGANIZATION DESCRIPTION")["TOTAL BUDGETED AMOUNT"].sum().sort_values(ascending=False)

ORGANIZATION DESCRIPTION
Chicago Police Department                                    1550560539
Chicago Fire Department                                       559954896
Chicago Department of Aviation                                218517120
Bureau of Operations and Distribution                         162867181
Department of Public Health                                   139456864
Bureau of Sanitation                                          120574669
Fleet and Facility Management                                 113795575
Division of In-House Construction                              96861658
Chicago Public Library                                         88073922
Office of Emergency Management and Communications              75615711
Bureau of Water Supply                                         67151732
Department of Family and Support Services                      55722675
Finance                                                        55356010
Department of Law                                              44120155
Office of Public Safety Administration                         39079781
Department of Buildings                                        35460438
Division of Electrical Operations                              34885860
Bureau of Street Operations                                    33077648
Bureau of Forestry                                             22970745
Department of Business Affairs and Consumer Protection         21932554
Department of Planning and Development                         20906742
Department of Housing                                          16242986
Bureau of Traffic Services                                     16182685
Department of Technology and Innovation                        16108496
Civilian Office of Police Accountability                       15754559
Office of the Mayor                                            14019768
Department of Procurement Services                             13860878
Department of Human Resources                                  12949653
Office of Inspector General                                    12459395
Bureau of Meter Services                                       12107871
Commissioner's Office                                          11518820
Bureau of Rodent Control                                       10369857
Division of Engineering                                         8713622
Bureau of Engineering Services                                  8559604
Department of Cultural Affairs and Special Events               8280295
Office of City Clerk                                            8278160
City Council                                                    8023254
Board of Election Commissioners                                 7909308
Division of Infrastructure Management                           7907522
Office of Budget and Management                                 7425694
Division of Administration                                      6238154
Chicago Animal Care and Control                                 5934252
Division of Sign Management                                     5583557
Bureau of Administrative Support                                4732337
City Treasurer's Office                                         4554990
Mayor's Office for People with Disabilities                     4530798
Division of Project Development                                 3777379
Department of Administrative Hearings                           3524821
Community Commission for Public Safety and Accountability       3070083
Chicago Commission on Human Relations                           2616926
Office of the Commissioner                                      2609646
Department of Environment                                       1464124
Division of Traffic Safety                                      1434474
Citywide Services                                               1293961
Board of Ethics                                                  969445
Policy And Planning                                              917498
Council Office of Financial Analysis                             490224
Chicago Police Board                                             204818
License Appeal Commission                                        115632
Name: TOTAL BUDGETED AMOUNT, dtype: int64

In [46]:
# AMOUNT ALLOTED TO EACH SECTION

df.groupby("SECTION DESCRIPTION")["TOTAL BUDGETED AMOUNT"].sum().sort_values(ascending=False)

SECTION DESCRIPTION
Areas - Districts                       1025288168
Operations                               584559328
Chicago-O'Hare International Airport     183613739
Areas - Detectives                       153837410
Solid Waste Collection                   120574669
                                           ...
Low Income Housing Trust Fund               115422
Solid Waste Management                      115422
Landscape Management                        115380
Correspondence                              103524
Programming and Planning                    100920
Name: TOTAL BUDGETED AMOUNT, Length: 399, dtype: int64

In [48]:
df.groupby("TITLE DESCRIPTION")["TOTAL BUDGETED AMOUNT"].sum().sort_values(ascending=False)

TITLE DESCRIPTION
Police Officer                            914785098
Sergeant                                  190541796
Firefighter - EMT                         167959866
Police Officer - Assigned as Detective    166323936
Motor Truck Driver                        111635200
                                            ...
Clerk II - Hourly                             21840
Chairman                                          0
Assistant to the Alderman                         0
Member                                            0
Staff Assistant to the Alderman                   0
Name: TOTAL BUDGETED AMOUNT, Length: 1285, dtype: int64

In [51]:
# Evalauting Fund type and it's average allocation

In [53]:
df.groupby("FUND TYPE")["TOTAL BUDGETED AMOUNT"].sum().sort_values(ascending=False)

FUND TYPE
LOCAL    3608506310
GRANT     190644532
CDBG       28527179
Name: TOTAL BUDGETED AMOUNT, dtype: int64

In [85]:
salary_fund_type = df.groupby('FUND TYPE').agg(
    Total_Salary_Allocation=pd.NamedAgg(column='TOTAL BUDGETED AMOUNT', aggfunc='sum'),
    Average_allocation=pd.NamedAgg(column='BUDGETED PAY RATE', aggfunc='mean')
).sort_values(by='Average_allocation', ascending=False)

salary_fund_type

           Total_Salary_Allocation  Average_allocation
FUND TYPE
GRANT                    190644532       158976.746545
CDBG                      28527179       132990.014943
LOCAL                   3608506310        90075.878144

In [ ]:
# Query pay rate details for a given job title description.
def query_pay_rate_by_title(df, title_description):
    # Filter the data for the given title description
    results = df[df['TITLE DESCRIPTION'].str.contains(title_description, case=False, na=False)]
    
    # Select relevant columns
    selected_results = results[['DEPARTMENT DESCRIPTION', 'TITLE DESCRIPTION', 'BUDGETED PAY RATE', 'TOTAL BUDGETED AMOUNT']]
    
    return selected_results

def main():  
    title_to_query = input("Enter the job title to query: ")
    query_results = query_pay_rate_by_title(df, title_to_query)
    
    if not query_results.empty:
        # Use tabulate to print the results in table format
        print(tabulate(query_results, headers='keys', tablefmt='psql', showindex=False))
    else:
        print("No results found for the specified job title.")

if __name__ == "__main__":
    main()